{% macro avatar(user_id=None, css_style=None, size="avatar-medium", full_name=None, image=None) %}
{% set user_info = frappe.utils.get_user_info_for_avatar(user_id) %}
<span class="avatar {{ size }}" title="{{ full_name or user_info.name }}" style="{{ css_style or '' }}">
    {% if image or user_info.image %}
    <img class="avatar-frame standard-image" src="{{ image or user_info.image }}"
        title="{{ full_name or user_info.name }}">
</span>
{% else %}
<span class="avatar-frame standard-image" title="{{ full_name or user_info.name }}">
    {{ frappe.utils.get_abbr(full_name or user_info.name).upper() }}
</span>
{% endif %}
</span>
{% endmacro %}

<!DOCTYPE html>
<html>

<head>

    <title>Apex Diagnosis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block meta_block %}
    {% include "templates/includes/meta_block.html" %}
    {% endblock %}

    <title>{% block title %}{{ title | striptags }}{% endblock %}</title>

    {% block favicon %}
    <link rel="shortcut icon" href="{{ (favicon or " /assets/frappe/images/frappe-favicon.svg") | abs_url }}"
        type="image/x-icon">
    {% endblock %}

    <link rel="canonical" href="{{ canonical }}">

    {%- block head -%}
    {% if head_html is defined -%}
    {{ head_html or "" }}
    {%- endif %}

    {%- if theme.name != 'Standard' -%}
    <link type="text/css" rel="stylesheet" href="{{ theme.theme_url }}">
    {%- else -%}
    {{ include_style('website.bundle.css') }}
    {%- endif -%}

    {%- for link in web_include_css %}
    {{ include_style(link) }}
    {%- endfor -%}
    {%- endblock -%}

    {%- block head_include %}
    {{ head_include or "" }}
    {% endblock -%}

    {%- block style %}
    {% if colocated_css -%}
    <style>
        {
                {
                colocated_css
            }
        }
    </style>
    {%- endif %}
    {%- endblock -%}

    <script>
        window.frappe = {};
        frappe.ready_events = [];
        frappe.ready = function (fn) {
            frappe.ready_events.push(fn);
        }
        window.dev_server = {{ dev_server }};
        window.socketio_port = {{ (frappe.socketio_port or 'null') }};
        window.show_language_picker = {{ show_language_picker or 'false' }};
    </script>

    <script>
        csrf_token = "{{ csrf_token }}";
    </script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/apex_diagnosis/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/apex_diagnosis/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/apex_diagnosis/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/apex_diagnosis/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/apex_diagnosis/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/assets/apex_diagnosis/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/apex_diagnosis/css/style.css" type="text/css">
    <link rel="stylesheet" href="/assets/apex_diagnosis/css/custom.css" type="text/css">


    <!--map init-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />

    <!-- lottiefile-->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>

<body>
    {% include "public/icons/timeless/icons.svg" %}
    {%- block banner -%}
    {% include "templates/includes/banner_extension.html" ignore missing %}

    {% if banner_html -%}
    {{ banner_html or "" }}
    {%- endif %}
    {%- endblock -%}

    {% block base_scripts %}
    <!-- js should be loaded in body! -->
    <script>
        frappe.boot = {{ boot }}
        // for backward compatibility of some libs
        frappe.sys_defaults = frappe.boot.sysdefaults;
    </script>
    {{ include_script('frappe-web.bundle.js') }}
    {% endblock %}

    {%- for link in web_include_js %}
    {{ include_script(link) }}
    {%- endfor -%}

    {%- block script %}
    {% if colocated_js -%}
    <script>{ { colocated_js } }</script>
    {%- endif %}
    {%- endblock %}
    <!-- csrf_token -->
    {%- block body_include %}{{ body_include or "" }}{% endblock -%}

        <!-- Page Preloder -->
        <div id="preloder">
            <!-- <div class="loader"></div> -->
            <div class="loading-container">
                <lottie-player src="/assets/apex_diagnosis/img/main-loading.json" background="transparent"  speed="1"  style="width:300px; height: 300px;" loop  autoplay></lottie-player>
            </div>
        </div>

        <!-- pridect loader -->
        <div class="loading-overlay">
            <div class="loading-container">
                <lottie-player src="/assets/apex_diagnosis/img/form-loading.json" background="transparent"  speed="2"  style="width:250px; height: 250px;" loop  autoplay></lottie-player>
                <span>Scaning....</span>
            </div>
        </div>
    

        <a class="info-toggle" href="#0">
            <span class="info-menu-icon"></span>
        </a>
    
        <div class=" s-info">
    
            <div class="row info-wrapper container">
    
    
    
                <div class="container  col-seven tab-full info-main">
                    <a href="http://127.0.0.1:8002/">Home</a>
                    <br>
                    {% if (frappe.session.user == "Guest") %}
                    <a href="http://127.0.0.1:8002/app">Login</a>
                    {% else %}
                    <a href="http://127.0.0.1:8002/me">your dashboard</a>
                    {% endif %}
                    <br>
                    {% if (frappe.session.user == "Administrator") %}
                    <a href="http://127.0.0.1:8002/Pages/statistics">Doctor Tools & Statistics</a>
                    {% endif %}
                    <h1>Apex Diagnosis.</h1>
                    <p>
                        Apex Diagnosis is a cutting-edge platform designed to revolutionize tissue examination processes, catering specifically to specialists in the medical field. By harnessing advanced technology, this platform aims to streamline specialist workflows, enabling them to efficiently process large volumes of images without the need for extensive physical hardware. Additionally, it provides valuable analytical insights, including geographical patient clustering maps, empowering physicians to make informed and innovative medical decisions. Integration with medical information management systems ensures seamless data management and exchange between healthcare professionals and patients, enhancing efficiency and security. Moreover,
                    </p>
    
                    <p>
                        Apex Diagnosis offers radiographic segmentation capabilities and instant, tailored medical advice based on patient symptoms through a dedicated interface. Leveraging reinforcement learning techniques and OpenAI, the platform delivers precise medical recommendations and laboratory test suggestions, facilitating clinical consultations and diagnostic processes for both patients and physicians alike.
                    </p>
                </div>
    
                <div class="container  col-four tab-full pull-right info-contact">
    
                    <div class="info-block">
                        <h3>Our Team </h3>
                        <p>
                            <a href="mailto:elias_109759@svuonline.org" class="info-email">elias_109759@svuonline.org</a><br>
                            <a href="mailto:elias_109759@svuonline.org" class="info-email">sharif_109759@svuonline.org</a><br>
                            <a href="mailto:elias_109759@svuonline.org" class="info-email">hasan_109759@svuonline.org</a><br>
                        </p>
                    </div>
                    
                </div>  <!-- end info contact -->
    
            </div>  <!-- end info wrapper -->
    
        </div> <!-- end s-info -->
    
        <!-- Start home COntent -->
        {% block content %}
        {{ content }}
        {% endblock %}
        <!-- End home COntent -->
    


    <!-- Js Plugins -->
    <script src="/assets/apex_diagnosis/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/apex_diagnosis/js/bootstrap.min.js"></script>
    <script src="/assets/apex_diagnosis/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/apex_diagnosis/js/mixitup.min.js"></script>
    <script src="/assets/apex_diagnosis/js/masonry.pkgd.min.js"></script>
    <script src="/assets/apex_diagnosis/js/jquery.slicknav.js"></script>
    <script src="/assets/apex_diagnosis/js/owl.carousel.min.js"></script>
    <script src="/assets/apex_diagnosis/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script>

        /* -- Text effect -- */

        const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

        let interval = null;

        const screen = document.querySelector(".screen"),
            name = document.querySelector(".name");

        screen.onmouseenter = event => {
            let iteration = 0;

            clearInterval(interval);

            interval = setInterval(() => {
                name.innerText = name.innerText
                    .split("")
                    .map((letter, index) => {
                        if (index < iteration) {
                            return name.dataset.value[index];
                        }

                        return letters[Math.floor(Math.random() * 26)]
                    })
                    .join("");

                if (iteration >= name.dataset.value.length) {
                    clearInterval(interval);
                }

                iteration += 1 / 3;
            }, 30);
        }
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>

    

<script>

    function initUserMap() {
        var defaultLocation = { lat: 34.97642113595646, lng: 38.10153104117244 };

        var map = new google.maps.Map(document.getElementById('userMap'), {
            zoom:7,
            center: defaultLocation
        });

        map.addListener('click', function (event) {
            placeMarker(event.latLng, map);
        });

        function placeMarker(location, map) {
            if (window.marker) {
                window.marker.setMap(null);
            }

            window.marker = new google.maps.Marker({
                position: location,
                map: map
            });

            document.getElementById('latitude').value = location.lat();
            document.getElementById('longitude').value = location.lng();

            var latLngString = "{lat: " + location.lat() + ", lng: " + location.lng() + "}";
            alert("Selected location: " + latLngString);
        }
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_MZOIiRzV4D0y4652wPHkot3Dqq2KrH0&callback=initUserMap">
</script>

    <script>
        /* info toggle
 * ------------------------------------------------------ */
        var ssInfoToggle = function () {

            //open/close lateral navigation
            $('.info-toggle').on('click', function (event) {

                event.preventDefault();
                $('body').toggleClass('info-is-visible');

            });

        };

        /* initialize
     * ------------------------------------------------------ */
        (function ssInit() {
            ssInfoToggle();
        })();


    </script>

    <script>csrf_token = "{{ csrf_token }}";</script>
    <script src="/assets/apex_diagnosis/js/detectionApi.js"></script>

</body>

</html>